body{
  width:100vw;
  height:100%;
  text-align:center;
  background: #888;
}
.container{
  background: #fff;
  margin: 0 auto;
}
li{
  list-style:none;

}
li a{
  cursor: pointer;
  transition: all .3s linear;

}
li a:hover{
  color:#ddd;
}
.result-box{
display: flex;
flex-direction: column;
flex-wrap: wrap;
height: 700px;
padding: 40px;
text-align: left;
width: auto;
background:#fff;
}
